/*전체*/
body {
    background-color: #000;
}


/* 제목 */
.log {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    color: white;
}

/* 전체 가운데 정렬 */
.login {
    margin: 0 auto; 
    margin-top: calc(44px + 100px);
    width: calc(100% - 100px * 2);
    max-width: 900px;
}

/* 인기순, 최근일자 영역 */
.pl, .pl1 {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: flex-end;
}

.pl1 button {
    background-color: var(--body-color);
    color: var(--first-color);
    border: none;
}

/* 인기순, 최근일자 드롭다운 */
.pl2 {
    display: none;
}

/* 인기순 | 최근일자  | <- 부분 */
.l {
    padding-top: 2px;
    color: var(--first-color);
}

/* 게시물들 전체 영역 */
.board-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;    
}

/* 게시물들 */
.board-items {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 250px;
    border-radius: 2px;
    margin: 0 auto;
    padding-right: 5px;
    margin-top: 20px;
    background-color: var(--first-color);
    color: var(--body-color);
}

.board-items a {
    color: var(--body-color);
}

/* page 표시 영역 */
.page {
    margin: 0 auto; 
    width: calc(100% - 100px * 2);
    max-width: 300px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* page 버튼  */
.page button {
    width: 30px;
    background-color: var(--body-color);
    color: var(--first-color);
    border: none;
}

/* 사용자 이름과 프로필 사진 */
 .pro {
    display: flex;  /* 기본값: 수평 정렬 */
    height: 50px;
    padding-bottom: 20px;
}

/* 사용자 이름과 프로필 사진 */
.name1 {
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
}

/* 화면 540일 때 보이는 사용자 이름*/
.name2 {
    display: none;
}

/* 몇시간전 */
.hour {
    font-size: small;
    height: 20px;
    line-height: 20px;
   
}

/* 사용자 프로필 */
 .image {
    width: 45px;
    height: 45px;
    background-color: rgb(200, 200, 200);
    border: 1px solid var(--body-color);
    border-radius: 50%;
    margin: 10px 8px;
    overflow: hidden;
}

/* 노래표지와 좋아요 영역 */
.CoverandGood {
    width: 100%;
    height: 200px;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;

    
}

/* 노래표지*/
.SongCover {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #c8c8c8;  
    border: 1px solid var(--body-color);
}


/* 게시물 글 */
.ttext {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 4px;
    font-size: small;
}

/* 게시물 좋아요 */
.Good {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.bi-hand-thumbs-up-fill {
    margin-right: 5px;
}

.bi-hand-thumbs-up-fill:hover {
    color: rgb(70, 70, 70);
     
}



.postBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    list-style: none;
    background-color: #2C2C2C;
    color: var(--first-color);
}

.postBtn:hover {
    background-color: #3d3d3d;
}


.popular {
    color: #c8c8c8;
}


/* 드롭다운 */
.pl2 {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #c8c8c8;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #c8c8c8;}

/* tablet */
@media screen and (max-width: 1000px) {
    /* 게시물들 2개씩 */
    .board-items {
        margin-top: 20px;
        width: 310px;
    }
}

/* tablet */
@media screen and (max-width: 885px) {
    /* 게시물들 2개씩 */
    .board-items {  
        width: 250px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

/* tablet */
@media screen and (max-width: 720px) {
    /* 게시물들 2개씩 */
    .board-items {
        margin-top: 20px;
        width: 160px;
        height: 250px;
        border-radius: 2px;
        background-color: var(--first-color);
    }

}

/* mobile */
@media screen and (max-width: 540px) {
    /* 인기순, 최근일자 버튼 없애기 */
    .pl1 {
        display: none;
    }

    /* 인기순, 최근일자 드롭다운 나타내기 */
    .pl2 {
        display: block;
    }
    /* 게시물들 세로 방향 */
    .board-lists {
        flex-direction: column;
    }

    /* 게시물들 가로 100% */
    .board-items {
        width: 100%;
        height: 100px;
    }

    /* 필요없는 요소 없애기 (좋아요, 사용자이름, 몇시간전, 프로필이미지)% */
    .Good, .board-hu, .pro {
        display: none;
    }

    /* 노래표지 크기 줄이기 */
    .SongCover {
        width: 50px;
        height: 50px;
    }
    
    /* 노래표지, 게시물 글, 사용자이름 요소 위치 정리 */
    .CoverandGood {
        height: 100px;
        flex-direction: row-reverse;
    }

    /* 게시물 글 */
    .ttext {
        width: 55%;
    }

    /* 사용자 이름(text) */
    .name2 {
        padding-left: 5px;
        font-size: small;
        display: block;
    }
}


