body {
    background-color: black;
    color: #fff;
}

main {
    margin: 0 auto;
    margin-top: calc(44px + 100px);
    width: calc(100% - 50px * 2);  
}


.division-container,
.title-container{
    display: flex;
    justify-content:space-around;
    margin-top: 60px;
    color: var(--first-color);
}

.column-container {
    border: 1px solid rgb(255, 255, 255);
    width: 80%; /*전체 화면에서 60%의 크기 유지*/
    height: 290px;
    display: flex;
    flex-direction: column; 
    margin: 0 auto;  
}

.column-container:last-child {
    margin-bottom: 10px;
}

.items-container {
    display: flex;
    text-align:center;
    justify-content: space-around;
    color: var(--first-color);
}

.CategoryCover {
    width: 240px;
    height: 150px;
    margin-top: 10px;
}

.CategoryCover img {
    width: 240px;
    height: 240px;
    overflow: hidden;
    display: block; /* 이미지 밑에 살짝 생기는 여백 문제 해결 */
}

.CategoryTitle {
    width: 240px;
    height: 25px;
    color: #fff;
    font-size: 20px;
    margin-top: 100px;
    text-align: left;
    white-space: nowrap;    /* ... */
    overflow: hidden;       /* ... */
    text-overflow: ellipsis;    /* ... */
}

.division-container {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0px;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.scroll-container {
    overflow-x: auto;
}

@media screen and (max-width: 1200px) {
    .column-container {
        height: 250px;
    }
    
    .CategoryCover {
        width: 200px;
    }

    .CategoryCover img {
        width: 200px;
        height: 200px;
    }

    .CategoryTitle {
        /* border: 1px solid rgb(54, 174, 84); */
        margin-top: 60px;
        width: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .column-container {
        height: 230px;
        /* border: 1px solid rgb(54, 174, 84); */
    }

    .CategoryCover {
        width: 170px;
    }

    .CategoryCover img {
        width: 170px;
        height: 170px;
    }

    .CategoryTitle {
        /* border: 1px solid rgb(118, 54, 174); */
        margin-top: 35px;
        width: 170px;
    }
}

@media screen and (max-width: 900px) {

    .column-container {
        height: 190px;
        /* border: 1px solid rgb(122, 9, 9); */
    }

    .CategoryCover {
        width: 140px;
    }

    .CategoryCover img {
        width: 140px;
        height: 140px;
    }

    .CategoryTitle {
        /* border: 1px solid rgb(150, 174, 54); */
        margin-top: 0px;
        width: 140px;
        font-size: 15px;
    }
}

/* tablet */
@media screen and (max-width: 720px) {
    .column-container {
        height: 170px;
        /* border: 1px solid rgb(9, 81, 122); */
    }

    .CategoryCover {
        width: 120px;
        height: 130px;
    }

    .CategoryCover img {
        width: 120px;
        height: 120px;
    }

    .CategoryTitle {
        /* border: 1px solid rgb(174, 54, 88); */
        width: 120px;
        font-size: 13px;
    }
}

/* mobile */
@media screen and (max-width: 540px) {
    .column-container {
        height: 150px;
        /* border: 1px solid rgb(9, 81, 122); */
    }

    .CategoryCover {
        width: 90px;
        height: 110px;
    }

    .CategoryCover img {
        width: 90px;
        height: 90px;
    }

    .CategoryTitle {
        /* border: 1px solid rgb(174, 54, 88); */
        width: 90px;
    }
}