body {
    background-color: black;
    color: var(--first-color); /* 기본 텍스트 색상 설정 */
}

.column-container {
    display: flex;
    flex-direction: column
    /* border: 1px solid rgb(255, 255, 255); */
}

.Onesongaday {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: calc(100px + 20px);
    font-size: var(--h1-font-size);
    /* border: 1px solid rgb(255, 255, 255); */
}

.container-wrapper {
    display: flex;
    flex-direction: row;
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    border: 1px solid rgb(121, 32, 32);
}

.osodtoday {
    justify-content: left;
    margin-bottom: 80px;
    text-align: left;
    font-size: var(--h2-font-size);
    border: 4px solid rgb(121, 32, 32);
}

.osodCover {
    margin-bottom: 40px;
}

.osodCover img{
    width: 400px;
    height: 400px;
}

.osodSongTitle {
    font-size: var(--h2-font-size);
}

.osodSongTitle,
.osodSinger {
    justify-content: center;
}

.todaysong-setting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 20px;
}

.playlist {
    margin-bottom: 75px;
    font-size: var(--h2-font-size);
    text-align: left;
}

/*아이콘 방향 바꾸기*/
.osodRight {
    transform: rotate(90deg);
}

.osodLeft {
    transform: rotate(270deg);
}

.osodToggle {
    font-size: 35px;
    padding: 0; /* 패딩을 제거하거나 0으로 설정 */
    margin: 0; /* 마진을 제거하거나 0으로 설정 */
    display: flex; /* 내부 요소를 가운데 정렬하기 위해 플렉스 박스를 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}


.listSongTitle {
    border-top: 1px solid rgb(55, 55, 55);
    list-style-position: inside;
    padding: 60px;
    padding-left: 0;
    font-size: var(--normal-font-size);
    text-align: left;
}

.scroll-container {
    overflow-x: auto;
}

.listSongTitle:last-child {
    border-bottom: 1px solid rgb(55, 55, 55);
}

@media screen and (max-width: 1200px) {
    .row-container {
        width: 380px;
        height: 700px;
        /* border: 1px solid rgb(255, 255, 255); */
    }

    .playlist {
        margin-bottom: 20px;
    }

    .osodtoday {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 900px) {

    .row-container {
        width: 280px;
        height: 700px;
    }

    .osodtoday {
        margin-bottom: 40px;
    }

    .osodCover {
        margin-bottom: 60px;
    }
    
    .osodCover img{
        width: 280px;
        height: 280px;
    }

    .listSongTitle {
        padding: 50px;
        padding-left: 0;
    }
}

@media screen and (max-width: 720px) {

    .row-container {
        width: 220px;
        height: 700px;
    }

    .listSongTitle {
        padding: 42px;
        padding-left: 0;
    }
    
    .osodCover img{
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width: 540px) {
    .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .row-container {
        width: 400px;
    }

    .playlist {
        text-align: center;
    }

    .osodtoday {
        display: none;  /*Today`s Song 안 보이게 만들기*/
    }

    .Onesongaday {
        margin-top: 40px;
    }
    .border {       /*플레이 리스트와 노래 재생을 나누는 선*/
        border: 2px solid rgb(255, 255, 255);
        box-sizing: border-box;
        margin-top: 120px;
        }
    
    .playlist {
        margin-bottom: 10px;
    }
}
